.form {
  background-color: #33dbff;
  display: flex;
  flex-direction: column;
  padding: 2%;
  .children {
    border-radius: 4px;
    padding: 10px;
    border: 0px;
    margin-bottom: 5px;
  }
  .submit {
    padding: 10px;
    border-radius: 2px;
    border: 0px;
  }
  .submit:hover {
    background-color: #33ffbd;
  }

  ::placeholder {
    padding-left: 5px;
  }
}
