.main {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.children {
  background-color: gold;
  padding: 15px;
  width: 70%;
  height: 30%;
  align-self: center;
  border-radius: 2px;
}
